@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-white;
}

.wrapper {
  @apply px-5;
}

.custom-container {
  @apply flex justify-center place-items-center;
}

.header {
  @apply p-5;
}

.nav {
  @apply bg-gray-200 gap-5 flex justify-evenly min-w-[18.25rem] rounded-full p-3 max-w-[22rem];
}

.nav__btn {
  @apply py-1.5 px-5 transition-all duration-300;
}

.nav__btn-selected {
  @apply bg-white rounded-full transition-all;
}

.first-mask {
  @apply rounded-lg transition-all container relative max-w-fit;
}

.image-card {
  @apply object-fill object-center rounded-lg cursor-pointer pointer-events-none min-w-[31.25rem];
}

.second-mask {
  @apply w-full h-full bg-black absolute opacity-0 z-10 rounded-lg cursor-pointer pointer-events-none;
}

.first-mask,
.image-card {
  @apply max-h-80;
}

.btn-up-right {
  @apply absolute z-20 top-10 right-8 bg-slate-50 p-4 rounded-full transition-all duration-700 ease-in-out font-medium pointer-events-none opacity-0;
}

.first-mask:hover > .image-card {
  @apply blur-sm transition-all duration-500;
}

.first-mask:hover > .second-mask {
  @apply opacity-50;
}

.first-mask:hover > .btn-up-right {
  @apply top-2 right-3 opacity-100;
}
